
/*==========  Mobile First Method  ==========*/
 
	/* Custom, iPhone Retina */
	@media only screen and (min-width : 320px){
 
	}
 
	/* Extra Small Devices, Phones */
	@media only screen and (min-width : 480px){
 
	}
 
	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px){
 .singleitem .text {
    width: inherit;
}

iframe {
    width: 688px;
}
	}
 
	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px){
 iframe {
    width: 580px;
}

.singleitem img {
    width: 100px;
}

.text h4 {
    margin-top: -58px;
}

.singleitem .text {
    padding-left: 110px;
    width: 271px;
}
	}
 
	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px){
 iframe {
    width: 720px;
}
	}